.presentacion{
    height: 60em;
    background: rgba(125, 104, 201, 0.863);
}
.contenido{
    padding-top: 10%;
}
#cabeza{
    background: rgba(125, 104, 201, 0.863);  
}
#cuerpo1{
    background: greenyellow;
}
#cuerpo2{
    background: skyblue;
}
#cuerpo3{
    background: pink;
    height: 25em;
}
